.rwt__tabs[data-rwt-vertical="true"] {
  display: flex;
  height: 125%;
}

.rwt__tablist:not([aria-orientation="vertical"]) {
  border-bottom: 1px solid #ddd;
  height: 125px;
}

.rwt__tablist[aria-orientation="vertical"] {
  display: flex;
  flex-direction: column;
  flex-shrink: 0;
  flex-grow: 0;
  border-right: 1px solid #ddd;
  margin-right: 1rem;
  height: 125%;
}

.rwt__tab {
  background: transparent;
  border: 0;
  font-family: "Lucida Sans Unicode", "Lucida Grande", sans-serif;
  font-weight: 600;
  font-size: 16px;
  padding: 1rem 6rem;
  color: #001f3f;
  transition: background 0.3s cubic-bezier(0.22, 0.61, 0.36, 1);
  height: 125px;
}

.rwt__tab[aria-selected="false"]:hover,
.rwt__tab:focus {
  outline: 0;
  background-color: #e6f1fc;
  /* #e3f2fd; */
  /* background-color: rgba(0, 0, 0, 0.05); */
  height: 125px;
}

.rwt__tab[aria-selected="true"] {
  position: relative;
  height: 125px;
}

.rwt__tab[aria-selected="true"]:after {
  content: "";
  position: absolute;
  height: 125px;
}

.rwt__tablist:not([aria-orientation="vertical"])
  .rwt__tab[aria-selected="true"]:after {
  bottom: -1px;
  left: 0;
  width: 100%;
  border-bottom: 3px solid #e6f1fc;
  height: 125%;
}

.rwt__tablist[aria-orientation="vertical"]
  .rwt__tab[aria-selected="true"]:after {
  right: -1px;
  top: 0;
  height: 100%;
  border-right: 4px solid #2a45cf;
}

.rwt__tabpanel {
  height: 100px;
  width: 120%;
}
