body {
  margin: auto;
  padding: auto;
  font-family: Arial, Helvetica, sans-serif;
  line-height: 22px;
  font-size: 19;
}

a {
  color: inherit; /* blue colors for links too */
  text-decoration: inherit; /* no underline */
}

h1 {
  font-family: "Pacifico", cursive;
  size: 40;
}
